@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@*@using (Html.BeginForm())
{
    <button name="b1" value="create">Create</button>
    <button name="b1"value="retreive"> Retreive</button>
    <button name="b1" value="update">Update</button>
    <button name="b1" value="delete">Delete</button>
}
<hr/>

@ViewBag.Message*@

