<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/abc4a1fc-2051-40d9-a92f-203b9d028ea9/resourceGroups/ARNAB-RG/providers/Microsoft.Web/sites/test-app01</ResourceId>
    <ResourceGroup>ARNAB-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <PublishUrl>https://test-app01.scm.azurewebsites.net/</PublishUrl>
    <SiteUrlToLaunchAfterPublish>http://test-app01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <UserName>$test-app01</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>